<ng-controller ng-controller="PostController as postController" ng-init="loadPost()">
	<!-- Loading -->
	<div class="loading" ng-show="!post && !notFound">
		<img src="app/img/clock.png"><br/>
		<h2>Ładowanie...</h2><br/><br/>
		<p>Jeśli trwa ono dłużej niż 10 sekund, odśwież strone.</p>
	</div>

	<!-- Not found -->
	<article ng-show="notFound">
		<div style="text-align: center;">
			<h1>Post, którego szukasz nie istnieje</h1>
			<p>Niestety, niczego tutaj nie ma. Możliwe, że w adresie strony jest literówka.<br/><strong>(╯°□°）╯︵ ┻━┻</strong></p>
		</div>
	</article>

	<!-- Body -->
	<article ng-show="post">
		<h1><span class="date">{{post.date}}</span> {{post.title}}</h1>
		<hr/>
		<p ng-bind-html="post.body"></p>
	</article>
</ng-controller>